$lg-screen-width: 1440px;
$md-screen-width: 960px;
$sm-screen-width: 600px;
$default-padding: 0rem 1.5rem;

//Main Colors
$main-dark-blue: #0f1563;
$main-dark-blue-hover: #383d7e;
$main-site-blue: #055c9d;
$main-light-blue: #f7fafc;
$main-light-blue-hover: #e8edf5;

// Neutral Colors (Grayscale)
$white: #ffffff;
$black: #000000;

// Accent Colors
$success: #04aa6d; // Green for success
$error: #f44336; // Yellow for warnings
$warning: #ff9100; // Red for errors
$info: #17a2b8; // Blue for informational messages

// Background Colors
$background-light: #f8f9fa; // Light background
$background-dark: #343a40; // Dark background

// Main Style Colors
$text-primary: #fbfbfb; // Main text color
$text-secondary: #f2f2f2; // Secondary text color
