@import '../../../styles/variables.scss';

body{
  margin: 0px;
}

.main_container .header-link-grid a{
  text-decoration: none;
}

.MuiAutocomplete-root .MuiOutlinedInput-root{
  background: #fff;
}

.main-container {
  max-width: $lg-screen-width;
  margin: 0 auto;
  padding: 1rem 1.5rem;
}
