@use '../../styles/variables.scss' as *;

.bg-container {
  background-color: #FFF;

  &.blue-bg{
    background-color: #f8f9fa;
  }

  .main-container {
    .main-overlay-card{
      margin: 2rem;
      padding: 2rem;
      border-radius: 1.125rem;
      background-color: #fff;
    }
  }
}
