@use '../../styles/variables.scss' as *;

.bg-container {
  background-color: #fff;

  &.blue-bg {
    background-color: #f8f9fa;
    flex: 1;
  }

  .main-container {
    .main-overlay-card {
      width: 100%;
      padding: 2rem;
      border-radius: 1.125rem;
      background-color: #fff;
    }
  }
}
